PORT= 5000
MONGO_MODE=
ATLAS_MONGO_URI=
LOCAL_MONGO_URI=mongodb://admin:secret@mongo:27017/?authSource=admin

REDIS_URL=

OTP_PREFIX=OTP
SLOT_PREFIX=SL
DOCTOR_PREFIX=DOC
PATIENT_PREFIX=PAT
SHIFT_PREFIX=SH
ALLERGEN_PREFIX=ALL
CONDITION_PREFIX=CON
ADMIN_PREFIX=AD
AP_PREFIX=APP
WALLET_PREFIX=WAL
TRANSACTION_PREFIX=TRANS
MESSAGE_PREFIX=MES
CHAT_SES_PREFIX=CHAT
CONSULT_PREFIX=CONS
LAB_PREFIX=LAB
BLOCK_PREFIX=BLO
REVIEW_PREFIX=REV
NOTIFICATION_PREFIX=NOT
AICONV_PREFIX=AICONV

ADMIN_ID=
ADMIN_EMAIL=
ADMIN_PASS=

RESET_TOKEN_EXPIRY_SECS=3600
OTP_RESEND_LIMIT=3
OTP_LIMIT=5

OTP_VALIDUNTIL_MINUTES=2
OTP_EXPIRATION_MINUTES=5

JWT_REFRESH_VALID_SECS=86400
JWT_ACCESS_VALID_SECS=160
BCRYPT_SALT=10

REFRESH_TOKEN_LENGTH=40
REFRESH_TOKEN_SECRET=

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_FROM=

GOOGLE_CLIENT_ID=

JWT_SECRET_KEY=

BASE_URL=http://localhost:5000

LOG_LEVEL=debug 

NODE_ENV=

PASSWORD_LENGTH=6

CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=


RAZORPAY_KEY=
RAZORPAY_SECRET=


PLATFORM_FEE=20

QDRANT_URL=http://localhost:6333

GROQ_API_KEY=

GOOGLE_API_KEY=